<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/travel_illay_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/travel_illay_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelIllay"
        android:networkSecurityConfig="@xml/network_security_config"

        tools:targetApi="31">

        <activity
            android:name="ui.register.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ui.register.RegisterActivity"
            android:exported="false" />

        <activity
            android:name="ui.principal.PrincipalActivity"
            android:exported="false" />

        <activity
            android:name="ui.profile.PerfilActivity"
            android:exported="false" />

        <activity android:name="ui.configuration.ConfigurationActivity" />

        <activity
            android:name="ui.configuration.NotificationActivity"
            android:exported="false" />

        <activity
            android:name="ui.itinerarios.OpcionesItinerario"
            android:exported="false" />

        <activity android:name="ui.itinerarios.manual.ItinerarioManual" />
        <activity android:name="ui.itinerarios.automatico.ItinerarioAutomatico"/>
        <activity android:name="ui.itinerarios.manual.ActividadPropuesto"></activity>
        <activity android:name="ui.itinerarios.automatico.ItinerarioPropuesto"></activity>
    </application>



</manifest>